menu "Cartesi Machine"

config CARTESI_MACHINE
    bool "Cartesi Machine "
    depends on RISCV_SBI
    default y if  RISCV_SBI
    help
        Enable support for the Cartesi Machine

config CARTESI_YIELD_DRIVER
    bool "Cartesi Machine Yield Device"
    depends on CARTESI_MACHINE
    default y
    help
        Cartesi Machine Yield Device

config CARTESI_MACHINE_IO_DRIVER
    bool "Cartesi Machine IO Device"
    depends on CARTESI_MACHINE
    default y
    help
        Cartesi Machine IO Device

config CARTESI_HALT_ON_PANIC
    bool "Halt machine on kernel panic"
    depends on CARTESI_MACHINE
    default y
    help
        Halt machine on kernel panic

endmenu
